# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history/
.svn/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-version
.metadata

# Build outputs
build/
**/build/

# Web
web/.last_build_id

# Android
android/.gradle/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Coverage
coverage/

# Firebase (jika pakai)
google-services.json
GoogleService-Info.plist