name: ruang_saku
description: RuangSaku - Sistem Manajemen Ruang Perkuliahan
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  go_router: ^14.8.1
  google_fonts: ^6.2.1
  lucide_icons: ^0.257.0
  intl: ^0.19.0
  flutter_animate: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
